<div id="search-results-mobile"></div>

<div id="mobile-search-form">
  <form class="d-lg-none" id="mobile-search-form">
    <div class="search-container">
      <input class="form-control" type="search" placeholder="Rechercher..." aria-label="Search" id="searchMobileTerm" />
    </div>
  </form>
</div>
