/* Search desktop CSS */

#search-results {
    position: fixed;
    top: 50px; 
    right: 0;
    background: linear-gradient(to right, #7c5953, #a88b80); 
    box-shadow: 0px 0px 10px whitesmoke;
    max-height: 300px; 
    overflow-y: auto; 
    z-index: 1000; 
}


.search-result-item {
    border: 1px solid #533732;
    padding: 5px;
    border-radius: 8px;
}


.result-title {
    font-size: 1em; 
    font-weight: bold;
    color: whitesmoke; 
    text-decoration: none;
    margin-bottom: 8px;
    display:block;
}

.result-title:hover {
    text-decoration: underline;
}




