{% extends 'base.html.twig' %}

{% block title %}
	Mentions légales
{% endblock %}


{% block body %}
	<div id="scroll-point" class="my-4">
</div>
<section class="features-section m-4">
<h2 class="h1-responsive font-weight-bold text-center my-4">Mentions Légales</h2>
	<div class="container text-center mx-auto">
		<h2 class="section-title mb-6"></h2>
		<div class="row justify-content-center">
			<div class="col-15 col-lg-6">
				<img src="https://i.ibb.co/2FjZbYm/403.png" class="img-fluid mb-4"/>
			</div>
		</div>
	</div>
	
	<p class="section-text ">
    En vigueur au 13/12/2023
    </p>
	<p class="section-text mb-2">
        Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la
        Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et
        visiteurs, ci-après l""Utilisateur", du site coffee-lover.com , ci-après le "Site", les présentes mentions
        légales.
	</p>
	<p class="section-text mb-2 mb-3">
		La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans
        réserve des présentes mentions légales.
	</p>
	<div class="section-text mt-2 mb-3">
        Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».
	</div>
    <h3 class="section-subtitle mb-3">ARTICLE 1 - L'EDITEUR</h3>
    <div class="section-text mt-2">
        L'édition du Site est assurée par coffee-lover SAS au capital de 10000 euros, immatriculée au
        Registre du Commerce et des Sociétés de paris sous le numéro 123456789 dont le siège social est
        situé au 56 rue cappuccino,
	</div>
    <div class="section-text mt-2"> Numéro de téléphone 0158624895,
	</div>
    <div class="section-text mt-2">
        Adresse e-mail : coffee-lover@bao.com.
	</div>
    <div class="section-text mt-2">
        N° de TVA intracommunautaire : FR 75 123456789
	</div>
    <div class="section-text mt-2">
        Le Directeur de la publication est John Coffee
	</div>
    <div class="section-text mt-2 mb-3">
        ci-après l'"Editeur".
	</div>
    <h3 class="section-subtitle mb-3">ARTICLE 2 - L'HEBERGEUR</h3>
    <div class="section-text mt-2 mb-3">
        L'hébergeur du Site est la société : Maracafé, dont le siège social est situé au 12 place de
        l'Espresso , avec le numéro de téléphone : 01 23 45 67 89 + contact@maracafe.fr
	</div>
    <h3 class="section-subtitle mb-3">ARTICLE 3 - ACCES AU SITE</h3>
    <div class="section-text mt-2">
        Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption
        programmée ou non et pouvant découlant d’une nécessité de maintenance.
	</div>
    <div class="section-text mt-2 mb-3">
        En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.
	</div>
    <h3 class="section-subtitle mb-3">ARTICLE 4 - COLLECTE DES DONNEES</h3>
    <div class="section-text mt-2">
        Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect
        de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers
        et aux libertés.
	</div>
    <div class="section-text mt-2">
        En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit
        d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur
        exerce ce droit :
            <li>via un formulaire de contact ;</li>
	</div>
    <div class="section-text mt-2">
        Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site,
        sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires
        telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.
	</div>
</section>

{% endblock %}
